<%= form_with model: @work, class: 'work-form' do |f| %>

<div>
  <%= f.label :category %>
  <%= f.select :category, ['movie', 'book', 'album'] %>
</div>

<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div>
  <%= f.label :creator %>
  <%= f.text_field :creator %>
</div>

<div>
  <%= f.label :publication_year %>
  <%= f.text_field :publication_year %>
</div>

<div>
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>

<div>
  <%= f.submit button_text, class: "btn btn-success" %>
</div>

<% end %>