<section>
  <h2><%= @work.title %></h2>
  <ul>
    <li>
      Created by: <%= @work.creator %>
    </li>
    <li>
      Published: <%= @work.publication_year %>
    </li>
    <li>
      <%= @work.description %>
    </li>
    <li>
      Added to this site <%= readable_date(@work.created_at) %> 
    </li>
  </ul>
</section>

<section>
  <%= link_to "Back to media ranks", root_path, class: "btn btn-primary" %>
  <%= link_to "Edit", edit_work_path(@work), class: "btn btn-primary" %>
  <%= link_to "Upvote", root_path, class: "btn btn-primary" %>
  <%# UPDATE THESE BUTTONS %>
  <%= link_to "Delete", root_path, class: "btn btn-danger" %>
</section>

<section>
  <h3>
    # Votes for this <%= @work.category.capitalize %>
  </h3>
  <table class="table">
    <tr>
      <th>User</th>
      <th>Date</th>
    </tr>
    <tr>
      <td>@work.vote.user_id.username</td>
      <td>@work.vote.updated_at</td>
    </tr>
  </table>
</section>

