<section>
  <h2><%= @work.title %></h2>
  <ul>
    <li>
      Created by: <%= @work.creator %>
    </li>
    <li>
      Published: <%= @work.publication_year %>
    </li>
    <li>
      <%= @work.description %>
    </li>
  </ul>
</section>

<section>
  <a href="root_path" role="button" class="btn btn-primary">Back to media ranks</a>
  <a href="#" role="button" class="btn btn-primary">Edit</a>
  <a href="#" role="button" class="btn btn-primary">Upvote</a>
  <a href="#" role="button" class="btn btn-danger">Delete</a>
</section>

<section>
  <h3>
    # Votes for this <%= @work.category.capitalize %>
  </h3>
  <table class="table">
    <tr>
      <th>User</th>
      <th>Date</th>
    </tr>
    <tr>
      <td>@work.vote.user_id.username</td>
      <td>@work.vote.updated_at</td>
    </tr>
  </table>
</section>

